*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.footer{
  background-color: pink;
  height: 150px;
}

.foot{
display: flex;
justify-content: space-between;
}

.reseauxsocio{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 400px;
}

.logofoot{
  margin-top: 30px;
  margin-left: 130px;
}
